*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/
/macos-out
/win-out
macos-out.zip
sandbox_quick
x264
x264*
x265*
x265
x265_*
openssl
zlib-*
openssl-*
macos-out
sandbox_quick
libvpx-1.13.1
libvpx_git

/ffmpeg@6-webrtc-win64.zip
nv-coded-headers
macos-*
build-*.log
zlib
libvpx